.nav-bar {
	background-color: #9764c7;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 3px 9px rgba(0,0,0,0.3);
	z-index: 10;
}

.nav-bar__title {
	font-family: 'Lobster', sans-serif;
	font-size: 26px;
}

.nav-bar__logged-message {
	font-weight: 700;
}

.nav-bar__logout-btn {
	color: #ddd;
	border-radius: 15px;
	border: 2px solid #ddd;
	padding: 4px 10px;
	transition: all .15s;
	font-weight: 700;
}

.nav-bar__logout-btn:hover {
	cursor: pointer;
	color: #9764c7;
	border-color: #fff;
	background-color: #fff;
}
