* { box-sizing: border-box; }

body {
	background-color: #eee;
	font-family: 'Raleway', sans-serif;
}

.app {
	width: 80%;
	margin: auto;
	margin-top: 100px;
}

@media only screen and (max-width: 600px) {
	.app {
		width: 95%;
	}
}


